#youso1 {
     font-size: 60px;
}
.buttonA{
      padding: 15px;
      border: 1px solid black;
      background-color: rgba(0,0,0,.05); 
      margin-bottom: 20px;
     font-size: 12px;
     border-radius: 5px;
}
.buttonB{
     padding: 15px;
      border: 1px solid black;
      background-color: rgba(0,0,0,.05); 
      margin-bottom: 20px;
     font-size: 12px;
     border-radius: 5px;
}
.buttonC{
     padding: 15px;
      border: 1px solid black;
      background-color: rgba(0,0,0,.05); 
      margin-bottom: 20px;
     font-size: 12px;
     border-radius: 5px;
}

.buttonA:hover { cursor:pointer }
.buttonB:hover { cursor:pointer }
.buttonC:hover { cursor:pointer } 